<!-- soll ähnlich wie Home aussehen-->

<div class="container container-header"> 

    <div class="row">
      <div class="col"> 
      <app-header></app-header> </div>
    
      <div class="col text-end">
        <app-logoutbutton></app-logoutbutton>
      </div>
    </div>
    </div>

<h3>Nadjas ToDo-Liste</h3>  <!-- hier Namen der Userin auslesen-->

<div class="container">
    
    


<app-list-archiv></app-list-archiv>

 <div class="row">    
     <div class="col">
       <app-zurueckbutton></app-zurueckbutton> 
     </div>
   
 </div>   
</div>

