h3 {
    text-align: center;
    color: blueviolet;
    margin-top: 7%;
}

.container {
    border: 3px solid#f1f1f1;
    border-radius: 10px;
    /*max-width: 100%;*/
    overflow-x: auto;
}

.container-header {
    border: 3px solid#ffffff; /* man könnte auch none sagen?*/
}