<app-header></app-header>



if(saved) {

  <p-toast class="toast" role="alert" aria-live="assertive" aria-atomic="true">
      <div class="toast-body">
        Neues ToDo gespeichert.
        <div class="mt-2 pt-2 border-top">
          <button type="button" class="btn btn-success btn-sm" (click)="confirm()">Ok</button>
        </div>
      </div>
  </p-toast>

} @else {

<h2>Neues ToDo</h2>
<div class="container newtodo-container">
  <form [formGroup]="form" (ngSubmit)="create()">
    <div class="mb-3">
      <label for="toDoNameInput" class="form-label">ToDo</label>
      <input type="todo" class="form-control" id="toDoNameInput" formControlName="todoNameControl" required>
    </div>

    <div class="drowpdown mb-5">
      <button class="btn dropdown-toggle prioButton form-control" type="button" data-bs-toggle="dropdown" aria-expanded="false" formControlName="prioControl">
        Prio
      </button>
      <ul class="dropdown-menu">
        <li><a class="dropdown-item" (click)="setPrio('hoch')" >hoch</a></li>
        <li><a class="dropdown-item" (click)="setPrio('mittel')" >mittel</a></li>
        <li><a class="dropdown-item" (click)="setPrio('niedrig')" >niedrig</a></li>
      </ul>
      <label for="dateInput" class="form-label">fällig am:</label>
      <input type="date" formControlName="datumControl">
    </div>

    <div class="d-grid gap-2 mt-5">
    <button type="submit" class="btn save btn-primary w-100" >Hinzufügen</button>
    <button type="button" class="btn btn-secondary btn cancel" (click)="cancel()" [routerLink]="['/home']">
        Abbrechen
      </button>
    </div>
  </form>
  </div>}