.register-container {
    padding: 1%;
    border: 3px solid #f1f1f1;
    border-radius: 10px;
    width: 60%;
}

form {
    padding: 5%;
    margin: 18px;
    margin-left: 20%;
    margin-right: 20%;
}

h2 {
    text-align: center;
    color: blueviolet;
    margin-top: 7%;
}

button.register {
    background-color: blueviolet;
    border-color: blueviolet;
    color: white;
    margin-top: 5%;
}

button.register:active {
    background-color: blueviolet;
    border-color: blueviolet;
    color: white;
}

button.btn:hover {
    background-color: yellow;
    color: blueviolet;
}

button.cancel {
    background-color: hsl(271, 68%, 83%);
    border-color: blueviolet;
    color: white;
}

.container {
    border: 3px solid#f1f1f1;
    border-radius: 10px;
    width: 60%;
    overflow-x: auto;
    padding: 1%;
    margin: 0 auto;
    margin-bottom: 3%;
}

.container-header {
    border: none;
}

.registerFailed {
    text-align: center;
    display: block;
}

.registered{
    text-align: center;
        display: block;
}