<p>homedummy works!</p>

<div class="container">



  <div class="row">

    <input class="inputFilter w-75 form-control" type="text" placeholder="ToDo suchen" aria-label="Aufgabensuche">
  </div>



  <table class="table table-striped">

    <thead>
      <tr>
        <th scope="col" class="text-center">Status</th>
        <th scope="col">ToDo</th>
        <th scope="col">Prio</th>
        <th scope="col">Datum</th>
        <th scope="col" class="text-center">Löschen</th>
      </tr>
    </thead>

    <tbody>


      <tr>
        <td>
          <div class="text-center">
            <i class="bi bi-check-circle"></i>
          </div>
        </td>
        <td>1</td>
        <td>2</td>
        <td>3</td>
        <td>
          <div class="text-center">
            <i class="bi bi-trash align-items-center"></i>
          </div>
        </td>
      </tr>



    </tbody>

  </table>





</div>