button { /* Position nochmal klären, wenn ToDos eingeblendet werden*/
    margin-top: 5%;
    margin-bottom: 2%;
    color: blueviolet;
}

button:hover {
    background-color: blueviolet;
    color: yellow;
}