button { /* Position nochmal klären, wenn ToDos eingeblendet werden*/
    margin-top: 2%;
    margin-bottom: 2%;
    margin-left: 1%;
    /* Margin-left weg? */
}

button:hover {
    background-color: blueviolet;
    color: yellow;
}