<div class="home-container">

<h3>Nadjas todo Liste</h3>
<button type="button" class="btn btn-outline-primary">Neues ToDo erstellen</button>

<div class="header-container">
  <div class="header-item">Erledigt</div>
  <div class="header-item">ToDo</div>
  <div class="dropdown">
    <button class="btn btn-secondary dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false">
      Prio
    </button>
    <ul class="dropdown-menu">
      <li><a class="dropdown-item" href="#">hoch</a></li>
      <li><a class="dropdown-item" href="#">mittel</a></li>
      <li><a class="dropdown-item" href="#">niedrig</a></li>
    </ul>
  </div>
  <div class="header-item">Datum</div>
  <div class="header-item">Löschen</div>
</div>

