<!-- 

 cols bleiben nebeneinander
 musste das Layout allerdings bei den anderen Komponenten aktualisieren, Achtung mit container Klasse (erzeugt Grid)
 hoffe, das Layout ist für dich auch so noch ok..ist nun etwas breiter :/

 kleiner Versatz Login/Registrierung???
 
 -->
<div class="container container-header"> 

<div class="row">
  <div class="col"> 
  <app-header></app-header> </div>

  <div class="col text-end">
    <app-logoutbutton></app-logoutbutton>
  </div>
</div>
</div>

<h3>Nadjas ToDo-Liste</h3>  <!-- hier Namen der Userin auslesen-->

<div class="container">
    
     <div class="row">
      <div class="col">
        <app-newtodobutton></app-newtodobutton>
      </div>      
    </div> 


<app-list></app-list>
 
  <div class="row">    
      <div class="col">
        <app-archivbutton></app-archivbutton>
      </div>
    
  </div>   
</div>









  
  
  

