h3 {
    text-align: center;
    color: blueviolet;
    margin-top: 7%;
}

button.add {
    background-color: yellow;
    color: blueviolet;
    margin-top: 3%;
    margin-bottom: 2%;
    margin-left: 1%;
}

button.add:hover {
    background-color: blueviolet;
}

.form-check {
    margin-left: 20%;
}

.home-container {
  margin-left: 20%;
  margin-right: 20%;
  border: 3px solid #f1f1f1;
  border-radius: 10px;
}

.header-container {
  display: flex;
  justify-content: space-between;
  background-color: rgb(220, 198, 241);
  padding: 10px;
  border-bottom: 2px solid #ddd;
  border-radius: 10px;
  margin: 1%;
}

.header-item {
  padding: 10px 20px;
  font-weight: bold;
  text-align: center;
}

#date {
  background-color: rgb(220, 198, 241);
  border-radius: 10px;
}

.filter {
  margin: 1%;
}

.prioButton {
  background-color: rgb(220, 198, 241);
  color: black;
  font-weight: bold;
  display: flex;
  align-items: center;
}