<div class="row">
  <input class="inputFilter w-75 form-control" type="text" placeholder="ToDo suchen" aria-label="Aufgabensuche"
    [formControl]="search" (input)="filter()" />
</div>

<table class="table table-striped">
  <thead>
    <tr>
      <th scope="col" class="text-center">
        Offen
      </th>
      <th scope="col">ToDo</th>
      <th scope="col">
        <button class="btn dropdown-toggle prioButton" type="button" data-bs-toggle="dropdown" aria-expanded="false">
          Prio
        </button>
        <div class="dropdown-menu">
          <a class="dropdown-item" (click)="filterPrio('hoch')">hoch</a>
          <a class="dropdown-item" (click)="filterPrio('mittel')">mittel</a>
          <a class="dropdown-item" (click)="filterPrio('niedrig')">niedrig</a>
        </div>
      </th>
      <th scope="col">Datum</th>
      <th scope="col">Bearbeiten</th>
      <th scope="col">Löschen</th>
    </tr>
  </thead>

  <tbody> 
    @for(Todo of filteredToDos; track $index) {
    <tr>
      <td>
        <div class="form-check d-flex justify-content-center">
          <input class="form-check-input" type="radio" name="flexRadioDefault" id="flexRadioDefault1" 
            (change)="erledigt(Todo._id)" />
        </div>
      </td>
      <td>{{ Todo.todoName }}</td>
      <td>{{ Todo.prio }}</td>
      <td>{{ Todo.datum }}</td>
      <td>
        <a class="btn pencilButton btn-outline-primary" [routerLink]="['/todo', Todo._id]">
          <span class="bi bi-pencil-square"></span>
        </a>
      </td>

      <td>
        <button class="btn trashButton btn-outline-primary ">
          <i (click)="confirmAction(Todo._id)" class="bi bi-trash "></i>
        </button>
      </td>
    </tr>
    }
  </tbody>
</table>

<!-- name="flexRadioDefault"-->