.container {       
  background-color: rgb(220, 198, 241);
  padding: 10px;
  border-radius: 10px;
  margin: 1%;
  
}

.header-item {  
  text-align: center;
  font-weight: bold;
}

th {
  vertical-align: middle;
}

.prioButton {
  color: black;
  font-weight: bold;
}

.prioButton:hover{
  background-color: yellow;
}

.col{
  margin: auto;
}

.inputFilter{
  margin-top: 1%;
  margin-bottom: 2%;
  margin-left: 1%;
  margin-right: 2%;  
}

.trashButton {
  color: blueviolet;
  border: none;
}

.trashButton:hover {
  background-color: yellow;
}
