<!-- TO DO:
 
 Fehlermeldung NG0100 behandeln (seit Validators bei todoNameControl)-->

<div class="container container-header">
  <div>
    <app-header></app-header>
  </div>
</div>

<h2>ToDo bearbeiten</h2>

<div class="container newtodo-container">

  <form [formGroup]="form" (ngSubmit)="update()">

    <div class="mb-3">
      <label for="toDoNameInput" class="form-label">ToDo</label>
      <input type="text" class="form-control" id="toDoNameInput" formControlName="todoNameControl" 
      [class.is-invalid]="form.controls.todoNameControl.invalid"             
          required
            />
    </div>

    <div class="mb-3">
      <label for="dropdownMenu" class="form-label">Prio</label>

      <select id="dropdownMenu" class="form-control" formControlName="prioControlButton">
        <option value="hoch">hoch</option>
        <option value="mittel">mittel</option>
        <option value="niedrig">niedrig</option>
      </select>

    </div>

    <div class="mb-3">
        <div>
          <label for="datumInput" class="form-label">fällig am</label>
        </div>

        <div>
          <input type="date" class="form-control" id="datumInput" formControlName="datumControl" required>
        </div>
      </div>


    <div class="d-grid gap-2 mt-5">
      <button type="submit" class="btn save btn-primary w-100">Speichern</button>
      <button type="button" class="btn btn-secondary btn cancel" (click)="cancel()">
        Abbrechen
      </button>
    </div>
  </form>
</div>